*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    color:black;
}
body
{
    height: 100vh;
    width: 100vw;
    background: rgb(251, 251, 251);
    display: flex;
    justify-content: center;

}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(149, 144, 144);
    border-top: none;
    width: 55vw;
    min-width: 600px;

    padding: 3rem 0;
    border-radius: 0 0 2rem 2rem;
    overflow-x: scroll;
}